body {
  background-color: #f1f1f1;
  border-top: 3px solid rgb(105, 4, 4);
  padding: 0px 2rem;
  min-height: 100vh;
  line-height: 2;
}

.title {
  font-size: 2rem;
  border-bottom: 1px solid rgba(187, 187, 187, 0.644);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0px 4px 10px rgba(187, 187, 187, 0.644);
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 2rem 0.75rem;
  text-align: center;
  position: relative;
}

.card-img {
  display: inline-block;
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: 500ms linear;
}

.card-img__meta {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.card:hover .card-img {
  transform: scale(1.2);
}

.link {
  text-decoration: underline;
  text-decoration-line: underline;
}

.social {
  display: flex;
  margin-top: 1rem;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 1.5rem;
}

.social-icon:hover {
  animation: socials 1500ms linear infinite;
}

.social-icon:last-child {
  margin-right: 0;
}

@keyframes socials {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-15px) rotateY(90deg);
  }

  70% {
    transform: translateY(-15px);
  }

  100% {

    transform: translateY(0);
  }
}
